{% extends "base.html" %}
{% block head %}
<title>Internet Literature DataBase</title>
{%  endblock %}
{% block content %}
  <div id="search" class="d-flex align-items-center">
    <div id="search-nav-container" class="container justify-content-center border rounded">
      <ul class="nav nav-pills" id="search-nav-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="search-book-tab" data-bs-toggle="tab" href="#search-book" role="tab" aria-controls="search-book" aria-selected="true">Book</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="search-author-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="search-author" aria-selected="false">Author</a>
        </li>
      </ul>
      <div class="tab-content" id="search-nav-content">
        <div class="tab-pane fade show active" id="search-book" role="tabpanel" aria-labelledby="search-book-tab">
          <form action="/search" method="POST">
            <div class="input-group mb-3">
              <input type="text" name="books_query" class="form-control" placeholder="Search for Book's title or ISBN">
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </form>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="search-author-tab">
          <form action="/search" method="POST">
            <div class="input-group mb-3">
              <input type="text" name="authors_query" class="form-control" placeholder="Search for Author's name">
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="carousel-area">
    <div id="boty-carousel-container" class="container justify-content-center">
      <h1 class="carousel-title">
        Best of the Year
      </h1>
      <div id="boty-carousel" class="carousel slide" data-bs-interval="9000" data-bs-ride="carousel">
        <div class="carousel-inner">
          {% for row in boty_carousel.rows() %}
          <div class="carousel-item {% if loop.first %} active {% endif %}">
            <div class="row">
            {% for book in row %}
              <div class="col-12 col-md d-flex align-items-center justify-content-center">
                <div class="carousel-item-book">
                  <img src="/books/{{ book._id }}/cover" class="carousel-item-book-cover">
                  <div class="carousel-item-book-caption">
                    <h5><a href="/books/{{ book._id }}">{{ book.title }}</a></h5>
                  </div>
                </div>
              </div>
            {% endfor%}
            </div>
          </div>
          {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#boty-carousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#boty-carousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
        <br>
        <br>
        <br>
        <br>
        <ol class="carousel-indicators">
          {% for row in boty_carousel.rows() %}
            <li data-bs-target="#boty-carousel" data-bs-slide-to="{{ loop.index - 1 }}" class="{% if loop.first %} active {% endif %}"></li>
          {% endfor %}
        </ol>
      </div>
    </div>
    <div id="hot-titles-carousel-container" class="container justify-content-center">
      <h1 class="carousel-title">
        Hot Titles
      </h1>
      <div id="hot-titles-carousel" class="carousel slide" data-bs-interval="9000" data-bs-ride="carousel">
        <div class="carousel-inner">
          {% for row in hot_titles_carousel.rows() %}
          <div class="carousel-item {% if loop.first %} active {% endif %}">
            <div class="row">
            {% for book in row %}
              <div class="col-12 col-md d-flex align-items-center justify-content-center">
                <div class="carousel-item-book">
                  <img src="/books/{{ book._id }}/cover" class="carousel-item-book-cover">
                  <div class="carousel-item-book-caption">
                    <h5><a href="/books/{{ book._id }}">{{ book.title }}</a></h5>
                  </div>
                </div>
              </div>
            {% endfor%}
            </div>
          </div>
          {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#hot-titles-carousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#hot-titles-carousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
        <br>
        <br>
        <br>
        <br>
        <ol class="carousel-indicators">
          {% for row in hot_titles_carousel.rows() %}
            <li data-bs-target="#hot-titles-carousel" data-bs-slide-to="{{ loop.index - 1 }}" class="{% if loop.first %} active {% endif %}"></li>
          {% endfor %}
        </ol>
      </div>
    </div>
    <div id="new-titles-carousel-container" class="container justify-content-center">
      <h1 class="carousel-title">
        New Titles
      </h1>
      <div id="new-titles-carousel" class="carousel slide" data-bs-interval="9000" data-bs-ride="carousel">
        <div class="carousel-inner">
          {% for row in new_titles_carousel.rows() %}
          <div class="carousel-item {% if loop.first %} active {% endif %}">
            <div class="row">
            {% for book in row %}
              <div class="col-12 col-md d-flex align-items-center justify-content-center">
                <div class="carousel-item-book">
                  <img src="/books/{{ book._id }}/cover" class="carousel-item-book-cover">
                  <div class="carousel-item-book-caption">
                    <h5><a href="/books/{{ book._id }}">{{ book.title }}</a></h5>
                  </div>
                </div>
              </div>
            {% endfor%}
            </div>
          </div>
          {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#new-titles-carousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#new-titles-carousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
        <br>
        <br>
        <br>
        <br>
        <ol class="carousel-indicators">
          {% for row in new_titles_carousel.rows() %}
            <li data-bs-target="#new-titles-carousel" data-bs-slide-to="{{ loop.index - 1 }}" class="{% if loop.first %} active {% endif %}"></li>
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>
{%  endblock %}