{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/search.css')}}">
<title>Search results</title>

{% endblock %}

{% block content %}
<div id="wrapper">

  <h1>Results for: {{ search_input }} </h1>
  <table id="images" class="center">
  <tr>
    <td><a href="/books/{{ books._id }}"><img src="/books/{{ books._id }}/cover" ></a> </td>
  </tr>
  </table>
  <table id="info">
    <tr>
      <td><h2> {{ books.title }} </h2> </td>
    </tr>
    <tr>
      <td><h2> {{ books.authors }} </h2></td>
    </tr>
        <tr>
      <td><h2> {{ books.publication_date }} </h2></td>
    </tr>
        <tr>
      <td><h2> {{ books.book_type }} </h2></td>
    </tr>
         <tr>
      <td></td>
    </tr>
  </table>

</div>


{% endblock %}
