{% extends "base.html" %}
{% block head %}
    <title>Sign up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
{% endblock %}
{% block content %}
    <div class="login-container d-flex align-items-center justify-content-center">
      <div class="card">
        <div class="card-header">
          <h3>Sign Up</h3>
        </div>
        <div class="card-body">
          <form action="signups" onsubmit="return validate()" method="POST" name="signups">
            <div class="input-group mb-3">
              <span class="input-group-text"><i class="fa fa-user"></i></span>
              <input type="text" class="form-control" placeholder="Username" name="username">
            </div>
              <div class="input-group mb-3">
              <span class="input-group-text"><i class="fa fa-envelope-open-o"></i></span>
              <input type="email" class="form-control" placeholder="Email" name="email">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text"><i class="fa fa-key"></i></span>
              <input type="password" class="form-control" placeholder="Password" name="password">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text"><i class="fa fa-key"></i></span>
              <input type="password" class="form-control" placeholder="Confirm Password" name="confirm_password">
            </div>
            <div class="d-flex justify-content-center mb-3" id="error_message">
                {% if taken==True %} Username is already taken. Try a diffrent variant or adding a number. {% endif %}

            </div>
            <div class="form-group d-flex justify-content-center submit">
              <input type="submit" value="Register" class="btn btn-primary">
            </div>
          </form>
        </div>
      </div>
    </div>
{%  endblock %}
{% block scripts %}
      <script>
        function validate() {
            let username = document.signups.username;
            let password = document.signups.password;
            let confirm_password = document.signups.confirm_password;
            let error_message = document.getElementById("error_message");
            error_message.innerHTML = "";

            if(username.value.length < 4) {
                error_message.innerHTML = "Username must be at least 4 characters long.";
                return false;
            }

            if(password.value.length < 6) {
                error_message.innerHTML = "Password must be at least 6 characters long.";
                return false;
            }

            if(password.value !== confirm_password.value) {
                error_message.innerHTML = "Passwords does not match."
                return false;
            }
            return true;
        }
    </script>
{% endblock %}

