#author-content {
    background-image: linear-gradient(180deg, #1b1b1b, #C1C1C1 50%, #1b1b1b);	background-position: top left;	background-size: 100%; border-bottom: 1px solid rgba(255, 255, 255, 0.25); border-top: 1px solid rgba(255, 255, 255, 0.25)
}

#book-caption a {
    color: #FFF;
}

#author-name {
    color: #FFF;
}

#author-background {
    color: #FFF;
}

#about-heading {
    font-weight: bold;
    color: #FFF;
}