#author-index-container {
    width: 100%;
}

#author-index-container #author-index-container-inner {
    width: 65%;
    background-color: #FFFFFF;
    padding-top: 30px;
}

#author-index-container .indices {
    padding: 50px 0;
}

#author-index-container .indices ul {
    background-color: #f4ac00;
}

#author-index-container .indices a {
    color: #000000;
    font-weight: bold;
}

#nav-container #nav-index-container-inner {
    background-color: #FFFFFF;
}

#author-index-container .indices {
    padding: 50px 0;
}

#author-index-container .indices ul {
    background-color: #f4ac00;
}

#author-index-container .indices a {
    color: #000000;
    font-weight: bold;
}

#author-index-container .entries {
    width: 800px;
    padding-left: 100px;
}

#author-index-container .entries a {
    color: #14213d;
    font-weight: bolder;
    font-size: x-large;
}

#author-index-container .author-entry {
    margin-bottom: 60px;
}

#author-index-container .author-entry .photo img {
    width: 180px;
    height: 250px;
}

#author-index-container .author-entry .info {
    padding-left: 50px;
}

#author-index-container .author-entry .bold {
    font-weight: bold;
}

#nav-container .indices {
    background-color: #FCA311;
    padding: 0px 0;
}

#nav-container .indices .border {
    border-color: #FCA311;
}

#nav-container .indices a {
    color: #000000;
    font-weight: bold;
    background-color: #f4ac00;
}

#nav-container .indices ul{
    color: #FCA311;
    width: 100%;
}
