body {
    background: black;
}
header {
    margin: 0 15%;
    color: #FFFFFF;
}

header a,
header a:hover {
    color: #FFFFFF;
}

header .nav-item .nav-link.active {
    background-color: #f4ac00;
}

main {
    background: rgb(255,255,255);
    /*
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
    */
    background: linear-gradient(top, #b3b3b0 0%, #e3e2dd 500px);
    background: -webkit-linear-gradient(top, #b3b3b0 0%, #e3e2dd 500px);
}

#carousel-area {
    background: linear-gradient(90deg, rgba(10,10,10,1) 0%, rgba(150,150,150,1) 50%,rgba(10,10,10,1) 100%);
}

#content #search {
    background-image: url("/static/Images/front_page/search_background.jpg");
    background-size: 100% auto;
    height: 400px;
}

#content #search #search-nav-container {
    width: 50%;
    background-color: white;
    padding: 15px
}

#content #search #search-nav-container .nav-pills {
    background-color: white;
    padding-bottom: 10px;
}

#content #search #search-nav-container .nav-pills .nav-link.active {
    color: black;
    background-color: white;
    border-radius: 0;
}

#content #boty-carousel-container {
    width: 80%;
    height: 30rem;
    padding: 2rem 9.375rem;
}

#content #hot-titles-carousel-container {
    width: 80%;
    height: 30rem;
    padding: 2rem 9.375rem;
}

#content #new-titles-carousel-container {
    width: 80%;
    height: 30rem;
    padding: 2rem 9.375rem;
}

#content .carousel-indicators {
    margin-bottom: 4rem;
    color: #000000;
}

#content .carousel-item .row {
    padding: 0 6.25rem;
}

#content .carousel-item-book {
    text-align: center;
}

#content .carousel-item-book {
    text-align: center;
}

#content .carousel-item-book a {
    color: #FFF;
    text-shadow: 1px 1px #000;
    text-decoration: none;
}

#content .carousel-item-book img {
    width: 12.5rem;
    height: 18.75rem;

}

#content .carousel-item-book-caption{
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
}

#content .carousel-control-prev .carousel-control-prev-icon {
    color: black;
    margin-bottom: 3rem;
}

#content .bold {
    font-weight: bold;
}

footer {
    height: 100%;
    color: #FFFFFF;
    margin: 0 15%;
}

footer a,
footer a:hover {
    color: #FFFFFF;
}

footer .logo {
    text-align: center;
}

footer p
{
    color: #FFFFFF;
}

footer .social-media a {
    font-size: 1.5rem;
    padding: 0 0.3125rem;
}

.container-fluid {
    color: #000000;
    text-decoration: none;
}

.carousel-title {
    text-align: center;
    text-shadow: 1px 1px #000;
    color: #f4ac00;
}
