.img-fluid {
  max-width: 70%;
    height: auto;
    padding-top: 10%;
    margin-left: 15%;
    padding-bottom: 15%;
}

body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1.2rem;
    font-weight: 450;
    line-height: 2;
    color: #000000;
}

.py-1 .container {
    padding-top: 10%;
}

.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
    padding-left: 5%;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    list-style-type: none;
}

#book-container-inner{
    width: 65%;
    background-color: #FFFFFF;
    padding-top: 30px;
}

ol, ul {
    padding-left: 1.34rem;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    /* margin-right: calc(var(--bs-gutter-x)/ -2); */
    margin-left: calc(var(--bs-gutter-x)/ -2);
    min-width: auto;
}

.col-md-6 {
    flex: 0 0 auto;
    width: 100%;
}
