#success-msg,
#error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}

#success-msg {
  color: #270;
  background-color: #DFF2BF;
}

#error-msg {
  color: #D8000C;
  background-color: #FFBABA;
}

.mb-3 {
    margin-bottom: 2rem!important;
}

